@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Sagar Babariya</h1>
</div>

<br />
<div class="container">
    <div class="row">
        <div class="col-3">
            <img src="~/Images/Profile.jpg" alt="Profile Image" class="img-thumbnail" />
        </div>
        <div class="col-9">
            <h3>Hello,</h3>
            <p>
                I am Sagar Babariya. I recently graduated from New Jersery Institute of Technology with Master of Science in Computer Science.
                I am currently looking for a Software Developer position.
            </p>
        </div>
    </div>
</div>

<br />
<br />
<div>
    <h1 id="work">Work Experience</h1>
    <div class="card shadow">
        <h3 class="card-header">UniqueAid</h3>
        <div class="card-body">
            <h5>Software Developer: August 2020 - September 2020</h5>
            <div class="row">
                <div class="col-lg-8">
                    <ul>
                        <li>Developed web application using OpenBiz, a PHP framework</li>
                        <li>Established geofence using Google API to track timesheet submissions for home aids during visits</li>
                        <li>Created new interface for billing department to communicate billing inquires with clinical managers</li>
                        <li>Updated the application to latest version of Xampp</li>
                        <li>Provided maintenance and support of the application on regular basis</li>
                    </ul>
                </div>
                <div class="col-sm-3 offset-sm-1">
                    <ul>
                        <li>PHP</li>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>Javascript</li>
                        <li>SQL</li>
                        <li>MySQL</li>
                        <li>Xampp</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="card shadow">
        <h3 class="card-header">LiquidHub</h3>
        <div class="card-body">
            <h5>Data Analyst: January 2018 – July 2019</h5>
            <div class="row">
                <div class="col-lg-8">
                    <ul>
                        <li>Provided reports on PHI (Protected Health Information) data and investigating PHI data issues for multiple clients of the company</li>
                        <li>Designed and developed complex stored procedures and queries using Oracle SQL</li>
                        <li>Extracted various data and generated daily, weekly and quarterly reports</li>
                        <li>Investigated data issues based on business demands by tracking data throughout various databases and performing ETL tasks on daily basis</li>
                        <li>Worked as Data Analyst and SQL Developer on various projects</li>
                    </ul>
                </div>
                <div class="col-sm-3 offset-sm-1">
                    <ul>
                        <li>SQL</li>
                        <li>Oracle</li>
                        <li>Store Procedures</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="card shadow">
        <h3 class="card-header">Universal Health Services</h3>
        <div class="card-body">
            <h5>Software Engineer: October 2016 - August 2017</h5>
            <div class="row">
                <div class="col-lg-8">
                    <ul>
                        <li>Developed, tested, and modified SSIS packages to perform ETL operations on data from different databases and file systems</li>
                        <li>Created and maintained database objects like Stored Procedures, Triggers, Indexes, Views</li>
                        <li>Actively involved in SDLC for creating new SSIS packages from requirements gathering, design and implementation up to maintenance after deployment to production</li>
                        <li>Scheduled SSIS packages and jobs to run on data warehouse and SQL Server</li>
                    </ul>
                </div>
                <div class="col-sm-3 offset-sm-1">
                    <ul>
                        <li>SQL</li>
                        <li>SQL Server</li>
                        <li>Store Procedure</li>
                        <li>C#</li>
                        <li>SSIS</li>
                        <li>ETL</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="card shadow">
        <h3 class="card-header">ACTAtek</h3>
        <div class="card-body">
            <h5>Software Engineer: May 2015 - September 2015</h5>
            <div class="row">
                <div class="col-lg-8">
                    <ul>
                        <li>Designed and developed Windows Form application using .NET Framework to store and verify fingerprints for various biometric devices</li>
                        <li>Adapted software designs for biometric devices from different branches of the company</li>
                        <li>Created and designed database to store fingerprint data</li>
                    </ul>
                </div>
                <div class="col-sm-3 offset-sm-1">
                    <ul>
                        <li>.NET</li>
                        <li>C#</li>
                        <li>SQL Server</li>
                        <li>SQL</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="card shadow">
        <h3 class="card-header">PJM Interconnection</h3>
        <div class="card-body">
            <h5>Software Developer: April 2014 - September 2014</h5>
            <div class="row">
                <div class="col-lg-8">
                    <ul>
                        <li>Developed ASP.NET web application for power suppliers to submit proposed infrastructure changes to PJM engineers</li>
                        <li>Implemented new development requests and resolved build tickets</li>
                        <li>Worked on development of presentation and data tier of a three-tier application</li>
                        <li>Wrote SQL queries to store submitted data and populate it into an internal website</li>
                        <li>Abstracted out application data from XML into SQL database lookup tables</li>
                    </ul>
                </div>
                <div class="col-sm-3 offset-sm-1">
                    <ul>
                        <li>ASP.NET</li>
                        <li>C#</li>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>Javascript</li>
                        <li>SQL</li>
                        <li>SQL Server</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="card shadow">
        <h3 class="card-header">Project Management Institute</h3>
        <div class="card-body">
            <h5>Test Engineer: April 2013 - September 2013</h5>
            <div class="row">
                <div class="col-lg-8">
                    <ul>
                        <li>Used test tool Selenium Remote Control to write automated web application UI tests in C#</li>
                        <li>Fixed test cases and tracked the results of about 10 - 20 test cases on daily basis</li>
                        <li>Investigated issues for failed test cases based on daily runs every morning</li>
                        <li>Supported test cases after deployment</li>
                        <li>Created pages classes which consisted of XPaths for all the components of the web page and common methods for that page</li>
                    </ul>
                </div>
                <div class="col-sm-3 offset-sm-1">
                    <ul>
                        <li>C#</li>
                        <li>SDLC</li>
                        <li>Selenium</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<br />
<div>
    <h1 id="proj">Recent Projects</h1>
    <div class="card shadow">
        <h3 class="card-header">Machine Learning for Sales and Customer Service</h3>
        <div class="card-body">
            <h5>September 2020 - December 2020</h5>
            <div class="row">
                <div class="col-lg-8">
                    <p>
                        Developed a software solution to predict future sales and recommend products for recent purchase.
                        To recommend products I implemented FP-Tree algorithm for pattern mining and generating assocaitaion between items.
                        In order to predict future sales I implemented ARIMA time series analysis. Sales were predicted on monthly basis.
                    </p>
                </div>
                <div class="col-sm-3 offset-sm-1">
                    <ul>
                        <li>Phthon</li>
                        <li>Machine Learning</li>
                        <li>FP-Tree Algorithm</li>
                        <li>ARIMA Time Series</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="card shadow">
        <h3 class="card-header">Banking Application</h3>
        <div class="card-body">
            <h5>January 2020 - June 2020</h5>
            <div class="row">
                <div class="col-lg-8">
                    <p>
                        Developed a banking money transfer application using ASP.NET and SQL Server Management Studio.
                        Created application with similar features as Venmo and Zelle. An account holder can request and send money to other users and view historical transactions.
                    </p>
                </div>
                <div class="col-sm-3 offset-sm-1">
                    <ul>
                        <li>C#</li>
                        <li>SQL</li>
                        <li>ASP.NET Web application</li>
                        <li>HTML</li>
                        <li>CSS</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="card shadow">
        <h3 class="card-header">Yelp Plus</h3>
        <div class="card-body">
            <h5>September 2019 - December 2019</h5>
            <div class="row">
                <div class="col-lg-8">
                    <p>
                        Developed a full stack mobile application for restaurant owners to showcase their business and customers
                        to find, explore and review restaurants. Cloned Yelp app and added various new features that would improve the application.
                    </p>
                </div>
                <div class="col-sm-3 offset-sm-1">
                    <ul>
                        <li>Java</li>
                        <li>Android SDK</li>
                        <li>MongoDB</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<br />
<div>
    <h1 id="education">Education</h1>
    <div class="card shadow">
        <h3 class="card-header">NJIT</h3>
        <div class="card-body">
            <h5>Masters of Science in Computer Science</h5>
            <p>September 2019 - December 2020<br />GPA: 3.83</p>
        </div>
    </div>
    <br />
    <div class="card shadow">
        <h3 class="card-header">Drexel University</h3>
        <div class="card-body">
            <h5>Bachelors of Science in Electrical Engineering</h5>
            <p>Minor in Computer Engineering<br />September 2011 - June 2016</p>
        </div>
    </div>
</div>
<br /><br />